# docker-compose.yml
services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/traefik.yaml:/etc/traefik/traefik.yml:ro
      - ./data/certs:/var/traefik/certs:rw
      - ./acme.json:/etc/traefik/acme.json:rw
    networks:
      - traefik-network
    restart: unless-stopped

networks:
  traefik-network:
    external: true
